/*******************/
/* GLOBAL STYLES ***/
/*******************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h2.interior-title {
    text-align: center;
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 1%;
}

/* make bullet points retain h3 formatting */
h3,
h3 ul li {
    font-size: 3rem;
    font-weight: normal;
}

#play h3,
#adjust h3 {
    padding: 3rem 0; /* space out paragraphs without indenting */
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: #fff;
    /* all links on dark background */
    text-decoration: none;
    /* remove underline */
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    /* cursor becomes pointer shape when over a button */
    transition: background 0.5s ease-in-out;
    /* transition specs for the button hover below */
    /* call the animation declared later in CSS file */
    animation: buttonAnimation 3s infinite alternate;
    /* smooth and continuous animation */
}

button:hover {
    background: #27394e;
}

/*************************/
/* NAV SECTION WITH HERO */
/*************************/

.main-head {
    color: #fff;
    background: #131c27;
    /* dark background => text in main head needs to be light */
    /* format for sticky header follows */
    position: sticky;
    /* makes nav bar sticky so menu is available when further down page */
    top: 0px;
    /* with sticky setting, it keeps nav to the top of page */
    z-index: 3;
    /* makes sure nav is overtop of clouds or backgrounds in each section */
}

nav {
    display: flex;
    /* makes contents flow in a line */
    width: 90%;
    /* brings it away from side edges */
    margin: auto;
    /* centres the nav */
    padding: 2rem;
    /* keeps header to a good-looking 10vh min height */
    min-height: 10vh;
    /* decisive nav bar height; required for formatting that fills screen */
    /* without a min-height, small browser window would squash the header badly */
    align-items: center;
    /* logo centred vertically */
    flex-wrap: wrap;
    /* adds wrapping needed for mobile browsers */
}

nav ul {
    display: flex;
    /* both the nav & UL need to be 'flex' */
    flex: 2 1 40rem;
    /* flex size (width) for nav items side of nav bar */
    /* bigger flex grow here works best with lower number for #logo below */
    /* flex grow = 1 is safe for both */
    justify-content: space-around;
    /* evenly spaced items within nav UL */
    align-items: center;
    /* nav links centred vertically */
    list-style: none;
    /* remove bullet points */
}

#logo {
    flex: 1 1 40rem;
    /* flex size (width) for logo/brand side of nav bar */
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
}

.hero {
    min-height: 100vh;
    /* template was 90vh */
    /* hero section occupies 90% of screen; nav bar uses 10% */
    background: linear-gradient(rgba(0, 0, 0, .7), transparent),
        url('../img/plumage.jpg');
    /* gradient lets text be more visible w/o covering whole photo */
    background-repeat: no-repeat;
    background-size: cover;
    /* zooms in so photo fills the container */
    background-position: center;
    /* many options available for what portion of photo to emphasize */
    color: white;
    display: flex;
    /* gives flex abilities to the text or other contents */
    flex-direction: column;
    /* vertical flow unlike nav which is horizontal flow by default */
    justify-content: center;
    /* centre elements vertically as a block */
    align-items: center;
    /* centre elements horizontally */
    text-align: center;
    /* centre text within its container */
}

.hero h3 {
    padding: 5rem;
    /* give space above and below the middle item in hero section */
}

/**************************/
/*** SECTION FORMATTING ***/
/**************************/

#adjust,
#save,
#play {
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .4)), url('../img/jellyfish.jpg');
}


#adjust,
#save,
#play,
#more,
#coming-soon {
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    /* add flexbox so we can move text from upper left default position */
    display: flex;
    align-items: center;
    /* centre child items as a group vertically */
    position: relative;
    /* allows clouds to position within this section */

    /* hide anything that animates out of the element's region */
    overflow: hidden;
    /* hide cloudAnimation outside the border */
}

/* make room for sticky header */

.main-title,
#save h2,
#coming-soon h2,
#more h2 {
    padding-top: 15vh;
}

/* TODO: move the sections into correct order since single-page sections were moved around */

/**********/
/*** PLAY SECTION ***/
/***********/

#play .play-wrapper {
    display: flex;
    flex-direction: column;
}


/*******************/
/*** RECORDING SECTION - NO LONGER EXISTS ***/
/*************************/


.icon-wrapper {
    padding-right: 2rem;
    /* adds padding to the right of icon(s) */
}

.icon {
    flex: 1 1;
    height: 60px;
    margin: auto;
    /* move neighbours slightly right in case of multiple icons in a row */
    padding-right: .5rem;
}

/* not sure hte flexwrap stuff is working for mobile */

.icon-label {
    flex: 3 2 15rem;
}

.detail {
    display: flex;
    font-size: 2rem;
    flex: 10 1 50rem;
    align-items: center;
    /* vertically centres item to the previous child, I think */
    margin: auto;
}

.locations-head {
    width: 90%;
    /* make smaller flexbox than parent element */
    margin: auto;
    /* centres child item to create padding within #locations parent */
}

.cloud {
    position: absolute;
    /* within the #locations section */
    top: 0%;
    right: 0%;
}

@keyframes buttonAnimation {
    0% {
        background: lightblue;
    }

    25% {
        background: rgb(35, 98, 119);
    }

    100% {
        background: rgb(99, 35, 119);
    }
}


/**********************/
/*** ADJUST SECTION ***/
/**********************/
.adjust-head li {
    display: flex;
}

.adjust-head h3,
.adjust-head ul li {
    font-size: 2rem;
    /* FIXME: default was 3rem but pushes header up under the sticky header */
    /* could split this section into two and remove this size adjustment */
    padding: 1rem 2rem;
}

#adjust img {
    max-height: 50px;
}

.bullet-icon {
    height: 32px;
    padding: .5rem;
    align-items: center;
    /* vertical align */
}

#adjust .cards-with-bullets {
    align-items: start;
    /* keep icons in line at top edge of row */
}

#adjust .cards-with-bullets ul {
    text-align: left;
}



#adjust .cards-with-bullets ul li {
    font-size: 1.7rem;
}

#adjust .card li img {
    /* makes img act like a bullet where 'list-style none' can't be revoked */
    height: 20px;
    display: inline-block;
    margin: 0;
}

#adjust button {
    margin-bottom: 5rem;
    /* manually create extra space even though it's a long section */
}

/********************/
/*** SAVE SECTION ***/
/********************/

.save-wrapper {
    display: grid;
    grid-template-columns: 7rem 1fr 7rem 1fr;
    grid-template-rows: 
        27rem 
        18rem
        30rem;
    grid-template-areas: 
        "music-icon1    save1  music-icon3   save2"
        "record-icon1   save3  record-icon2  save4"
        ".             save3  music-icon2  save5";
    flex-direction: column;
    grid-gap: 1rem;
    flex-wrap: wrap;
}

#save .box-grid {
    padding-top: 4rem;
}

.music-icon1 {
    grid-area: music-icon1;
    align-self: top;
    padding-left: 5px;
}

.music-icon2 {
    grid-area: music-icon2;
    align-self: top;
    padding-left: 5px;
}

.music-icon3 {
    grid-area: music-icon3;
    align-self: top;
    padding-left: 5px;
}

.record-icon1 {
    grid-area: record-icon1;
    align-self: top;
    padding-left: 5px;
}

.record-icon2 {
    grid-area: record-icon2;
    align-self: top;
    padding-left: 5px;
}
.save1 {
    grid-area: save1;
}

.save2 {
    grid-area: save2;
}

.save3 {
    grid-area: save3;
}

.save4 {
    grid-area: save4;
}

.save5 {
    grid-area: save5;
}

#save div.detail h3 {
    font-size: 1.8rem;
}

/**************/
/*** MORE ***/
/*************/

#more {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4)), url('../img/shiny-leaf.jpg');
    color: white;
    background-size: cover;
}


/* set up paragraphs with grid layout */
.more-wrapper {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
        15rem 
        25rem;
    grid-template-areas: 
        "para1 para2"
        "para3 para3";
    flex-direction: column;
    grid-gap: 1rem;
}

#more h3 {
    font-size: 2rem;
}
/* set up child elements as boxes */
#more .box-grid {
    padding: 2rem 0;
}

.para1 {
    grid-area: para1;
}

.para2 {
    grid-area: para2;
}

.para3 {
    grid-area: para3;
}

.para4 {
    grid-area: para4;
}


#more .inner-nav ul,
#play .inner-nav ul,
#adjust .inner-nav ul {
    /* styled after nav ul */
    display: flex;
    /* both the nav & UL need to be 'flex' */
    flex: 2 1 40rem;
    /* flex size (width) for nav items side of nav bar */
    /* bigger flex grow here works best with lower number for #logo below */
    /* flex grow = 1 is safe for both */
    justify-content: space-evenly;
    /* evenly spaced items within nav UL */
    align-items: center;
    /* nav links centred vertically */
    list-style: none;
    /* remove bullet points */
}

/* button(s) at bottom */
#more .inner-nav {
    /* styled after nav */
    display: flex;
    width: 90%;
    /* brings it away from side edges */
    margin: auto;
    /* centres the nav */
    padding: 2rem;
    /* keeps header to a good-looking 10vh min height */
    min-height: 10vh;
    /* decisive nav bar height; required for formatting that fills screen */
    /* without a min-height, small browser window would squash the header badly */
    align-items: center;
    /* logo centred vertically */
    flex-wrap: wrap;
    /* adds wrapping needed for mobile browsers */
}

/************************/
/*** ABOUT & CONTACT SECTION ***/
/************************/

.about-head {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)),
        url("../img/astronomy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: violet;
    padding: 15vh 3rem 3rem 3rem; /* explicit to accommodate sticky header's height */
}

.about-wrapper {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
        8rem 
        30rem;
    grid-template-areas: 
        "about1 about1"
        "about2 about3";
    flex-direction: column;
    grid-gap: 1rem;
}

/* About Section boxes */

.about1 {
    grid-area: about1;
}

.about2 {
    grid-area: about2;
}

.about3 {
    grid-area: about3;
}

.about4 {
    grid-area: about4;
}

/******************/
/*** CONTACT ***/
/****************/

/* found in the About menu item to make nav bar simpler */

#contact {
    min-height: 100vh;
    background: linear-gradient(rgba(150, 220, 240, .8), rgba(0, 0, 0, .8)),
        url("../img/stones.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    background: rgba(19, 28, 39, .8);
    width: 60%;
    color: white;
    border-radius: 20px;
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    /* makes curves match the container */
    border-bottom-right-radius: 20px;
}

.form-wrapper input {
    padding: 1rem 3rem;
}

/*****************/
/*** OTHER TINY GUIDES ***/
/*** INSIDE FOOTER ***/
/*********************/

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 45vh;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 35vh;
    margin: 2rem 3rem;
    box-shadow: 0px 10px 10px rgba(255, 255, 255, .1), 0px 20px 20px rgba(255, 255, 255, .1);
}

.card-icon {
    background: violet;
}

.card img {
    max-width: 15%;
    margin: 1rem;
}

.card h4,
p {
    padding: 2rem 2.5rem;
}

/**********************/
/*** FOOTER ***********/
/**********************/

footer {
    color: white;
    background: rgba(19, 28, 39, 1);
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

footer h5 {
    flex: 1 1 40rem;
    font-size: 1.6rem;
}

footer h4 {
    font-size: 2.2rem;
}

footer ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: lightblue;
}


/*********************/
/*** MEDIA QUERIES ***/
/*********************/
/* TODO: mobile devices need a lot of fixing */

@media screen and (max-width: 1150px) {
    li {
        font-size: 1.7rem;
        /* smaller font */
    }
}

@media screen and (max-width: 932px) {

    /* this is the width where nav items crows the nav bar */
    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
        /* centre logo & nav links sections */
    }

    #logo {
        padding: 1rem;
    }

    .adjust-head h3,
    .save-head h3,
    .about-head h3 {
        /* fix problem of black text on photo background 
        given a gradient text fill not available in mobile browsers.
        IF background is light, I don't need the gradient colour text fill, 
        then it's a non-issue and this code block can be removed. */
        /*background: rgba(12, 60, 0, .2);
        -webkit-text-fill-color: white;*/
    }
    
    .icon {
        height: 45px;
        /* move neighbours slightly right in case of multiple icons in a row */
    }

    .adjust-head ul {
        padding: 0 2rem;
    }

    #adjust .card {
        min-width: 250px;
    }


    .form-wrapper {
        width: 100%;
    }


    footer {
        text-align: center;
    }

    footer h5 {
        padding-bottom: 3rem;
    }

    footer .card {
        min-height: 20vh;
    }
    
}

@media screen and (max-width: 673px) {
    .more-wrapper {
        grid-template-rows: 
            15rem 
            18rem;
        grid-template-areas: 
            "para1 para2"
            "para3 para3";
    }
}

@media screen and (max-width: 400px) {
    #adjust .card {
        width: 100%;
        margin: auto 0;
    }

    .recording-wrapper, {
        flex-direction: column;
    }

    
}